body {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
}

.container {
  background-color: white;
}

.nav-container {
  background-color: white;
}

.menu-items {
  font-size: 0.9rem;
}

.drop-down-icons {
  margin-right: 0.5rem;
}

.drop-down-print {
  font-size: 0.8rem;
}

#brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.2rem;
  color: white;
}

#home-section {
  background: url(../images/one-mic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

#home-section .dark-overlay {
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#welcome-message {
  padding-top: 15rem;
  text-align: center;
  color: white;
}

.banner-main-message {
  font-weight: 900;
  line-height: 120%;
}

#profile-selectors {
  text-align: center;
  margin-top: 2rem;
}

.save-edit-header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.form-top-margin {
  margin-top: 5rem;
}

#bio-section {
  height: 5rem;
}

.image-preview-box-empty {
  display: block;
  height: 200px;
  width: 200px;
  background-color: white;
  text-align: center;
}

.upload-photo-icon {
  margin-top: 8rem;
  font-size: 2rem;
}

.profile-image {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin-right: 2rem;
}

.profile-display-name {
  font-size: 2.5rem;
  font-weight: bolder;
}

.details {
  text-align: center;
}

.details-location {
  margin-bottom: 4rem;
}

.contact-icons {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: gray;
}

.contact-icons:hover {
  color: rgb(253, 104, 33);
}

@media (max-width: 768px) {
  .profile-image {
    margin: 0 auto;
  }

  .profile-details {
    text-align: center;
  }

  .details-location {
    margin-bottom: 0;
  }

  .view-profile-button {
    margin-bottom: 1rem;
  }

  .theme-break {
    margin-top: 0;
  }
}

.profile-image-explore-view {
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  margin-right: 2rem;
}

.profile-display-name-explore-view {
  font-size: 1rem;
  font-weight: bold;
}

.profile-details-explore-view {
  font-size: 0.85rem;
  color: gray;
}

.clear-border {
  border: 1px solid transparent;
}

.border {
  border: 1px solid gray;
}
